


*{
    margin: auto;
    box-sizing: border-box;
}

li{
    list-style: none;
    display: inline-block;
    
    
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: space-around;
}
.products-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(min-width: 600px){

}